.OverthrowGameInfo
{
    width:100%;
    flow-children: down;
	margin-top: -40px;
}

Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
	margin-bottom: 25px;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#TitleSecond
{
    color: #cccccc;
    font-size: 40px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}


#PhasesRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

#ObjectivesRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

#HelpRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

#CommandsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

#MapRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

#TipARow
{
    margin-top: 0px;
	width: 100%;
	height: 175px;
}

#TipBRow
{
    margin-top: 0px;
	width: 100%;
	height: 175px;
}

#TipCRow
{
    margin-top: 0px;
	width: 100%;
	height: 175px;
}

#TipAImage
{
    margin-left: 5%;
    margin-top: 0px;
    width: 28%;
    height: 100%;
}

#TipBImage
{
    margin-left: 0%;
    margin-top: 0px;
    width: 33%;
    height: 90%;
}

#TipCImage
{
    margin-left: 0%;
    margin-top: 0px;
    width: 33%;
    height: 100%;
}

#TipAText
{
	text-align:	right;
	width: 60%;
	height: 100%;
	font-size: 19px;
    vertical-align: middle;
	margin-top:30%;
}

#TipBText
{
    margin-left: 5%;
	text-align:	left;
	margin-top:30%;
	width: 50%;
	height: 100%;
	font-size: 19px;
}

#TipCText
{
	text-align:right;
	margin-top:30%;
	width: 60%;
	height: 100%;
	font-size: 19px;
}


#BriefDescription
{
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}

.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
}



Label .prep_phase
{
    color: #5BB23C;
    font-weight: bold;
}
Label .dash_phase
{
    color: #F4DB3B;
    font-weight: bold;
}
Label .action_phase
{
    color: #FB2943;
    font-weight: bold;
}
Label .misc_phase
{
    color: #FFFFFF;
    font-weight: bold;
}
